@using Microsoft.AspNetCore.Http
@using Fake.Utilities
@inject IHttpContextAccessor HttpContextAccessor

<nav>
    <img src="/images/melysSmallLogo.jpg" alt="brand logo" />

    <ul>
        <li>
            <a asp-area="Customer"
               asp-controller="Home"
               asp-action="Index" class="btn active"> Home  </a>
        </li>
        <li>
            <a asp-area="Customer"
               asp-controller="Menu"
               asp-action="Index"> Daily Menu  </a>
        </li>
    </ul>
    @if (User.IsInRole(StaticDetails.Role_Admin))
    {
        <a href="#" role="button" aria-haspopup="true" aria-expanded="false">Content Management</a>

        <div class="sub-menu-wrap">
            <div class="sub-menu">
              
                <a class="menu-item" asp-area="Admin"
       asp-controller="Category"
       asp-action="Index">Category</a>

        <a class="menu-item" asp-area="Admin"
       asp-controller="Product"
       asp-action="Index">Food/Drinks</a>

                <a class="menu-item" asp-area="Admin"
       asp-controller="Menu"
       asp-action="Index">Menu Creater</a>
            </div>
        </div>
    }

    <partial name="_LoginPartial" />
</nav>

