@import "_variables";

nav {
    display: flex;
    align-items: center; // vertical alignment
    margin-bottom: auto;
    width: 100%;
    background-color: #000;
    padding: 1.5rem;
    gap: 1rem;
    color: $color-pink;

    .nav-logo {
        img {
            width: 5rem;
            margin-left: 2rem;
        }
    }

    .nav-link {
        background: none;
        border: none;
        color: $color-pink;
        cursor: pointer;
        padding: 0;
        font-size: xx-large;

        &:hover {
            background-color: #777;
        }
    }

    .nav-dropdown {
        position: relative;

        .nav-dropdown-menu {
            position: absolute;
            left: 0;
            top: calc(100% + 0.25rem);
            padding: 0.75rem;
            border-radius: 0.15rem;
            box-shadow: 0.55rem 0.55rem 0.8rem 0 rgba(0, 0, 0, 0.6);
            opacity: 0;
            pointer-events: none;
            transform: translateY(-10px);
            transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
            font-size: 1rem;
            background-color: $color-white;
            width: 100%;


            .nav-dropdown-links {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;

                a {
                    &:hover {
                        background: black;
                        color: $color-pink;
                    }
                }
            }
        }

        .nav-information-grid {
            display: grid;
            grid-template-columns: repeat(2, max-content);
            gap: 2rem;

            a {
                text-decoration: none;

                &:hover {
                    color: $color-pink;
                    background-color: black;
                }
            }
        }
    }

    .nav-dropdown.active > .nav-link + .nav-dropdown-menu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .login-section {
        display: flex;
        font-size: medium;
        align-items: center;
        gap: 2rem;
        margin-left: 5rem;

        a {
            color: $color-pink;

            &:hover {
                background-color: #777;
            }
        }
    }
}
