
$color-FB: #1092f4; // Facebook
$color-TW: #1d9bf0; // Twitter
$color-GG: linear-gradient( to right, #4285f4, #db4437, #f4b400, #0f9d58 ); // Google
$color-IN: linear-gradient( #405de6, #5b51d8, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80 ); // Instagram
$color-LI: #0a66c2; // LinkedIn
$color-TT: linear-gradient(to right, #010101, #69c9d0, #fff, #ee1d52); // TikTok

$color-pink: #ff9ff6;
$color-white: whitesmoke;


$bg-color: rgb(20, 20, 20);
$card-color: rgb(23, 23, 23);
