@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import "_variables";
@import "_mediaquery";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: larger;
}

header {
    width: 100%;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bg-color;
    height: 100vh;
    align-items: center;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.active {
    text-decoration: underline dotted green;
}

.category-list {
    a {
        font-size: 2rem;
        color: $color-white;
        text-decoration: underline dotted;

        &:hover {
            background-color: $color-white;
            color: black;
        }
    }
}

.dataTables_wrapper {
    table {
        width: 100% !important;
    }

    font-size: 1rem;
    color: $color-pink !important;

    label {
        color: $color-pink;

        select {
            color: #8c0680 !important;
        }
    }
}

@import "_nav";
@import "_main-section";
@import "_tables.scss";
@import "_card";
@import "_footer";
