@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import "_variables";
@import "_mediaquery";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: larger;
}

header {
    width: 100%;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bg-color;
    height: 100vh;
    align-items: center;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.active {
    text-decoration: underline dotted green;
}



@import "_nav";
@import "_main-section";
@import "_tables.scss";
@import "_card";
@import "_footer";
@import "_upsert";
