/* Icon Colors Variables */
/* Icon Colors Variables */
/* Variable Colors */
/* Variable Colors */
/* Footer Section */
footer {
  padding: 0.5rem;
  width: 100%;
  color: #fff;
  background-color: #000;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  /* start of social media contact us section */
  /* end of social media contact us section */
  /* start of column section */
}
footer .social-media {
  display: flex;
  padding: 1rem;
  margin-top: 0.5rem;
  justify-content: center;
  /* end icons section*/
}
footer .social-media .icons {
  margin: 0 0.5rem;
  text-align: center;
  top: 50%;
  align-items: center;
}
footer .social-media .icons a {
  margin: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
footer .social-media .icons .fa-facebook {
  text-align: center;
  color: #1092f4;
}
footer .social-media .icons .fa-twitter {
  color: #1d9bf0;
}
footer .social-media .icons .fa-google {
  background: linear-gradient(to right, #4285f4, #db4437, #f4b400, #0f9d58);
  color: transparent;
  -webkit-background-clip: text;
  text-fill-color: transparent;
}
footer .social-media .icons .fa-instagram {
  background: linear-gradient(#405de6, #5b51d8, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
  color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
}
footer .social-media .icons .fa-linkedin {
  color: #0a66c2;
}
footer .social-media .icons .fa-tiktok {
  background: linear-gradient(to right, #010101, #69c9d0, #fff, #ee1d52);
  color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
}
footer .social-media .icons :is(.fa-facebook, .fa-twitter, .fa-google, .fa-instagram, .fa-linkedin, .fa-tiktok):hover {
  color: white;
}
footer .column-section {
  display: grid;
  padding: 0.6rem;
  grid-template-columns: 1fr 2fr 1fr;
  align-content: center;
}
footer .column-section h3 {
  color: #ff9ff6;
}
footer .copyright {
  text-align: center;
  color: #ff9ff6;
}

/* End Footer Section*/
