@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: larger;
}

header {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(20, 20, 20);
  height: 100vh;
  align-items: center;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline dotted green;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #000;
  padding: 1.5rem;
  gap: 1rem;
  color: #ff9ff6;
  z-index: 7;
  margin-bottom: auto;
}
nav .nav-logo img {
  width: 5rem;
  margin-left: 2rem;
}
nav .nav-link {
  background: none;
  border: none;
  color: #ff9ff6;
  cursor: pointer;
  padding: 0;
  font-size: xx-large;
}
nav .nav-link:hover {
  background-color: #777;
}
nav .nav-dropdown {
  position: relative;
}
nav .nav-dropdown .nav-dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  padding: 0.75rem;
  border-radius: 0.15rem;
  box-shadow: 0.55rem 0.55rem 0.8rem 0 rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
  font-size: 1rem;
  background-color: whitesmoke;
  width: 100%;
}
nav .nav-dropdown .nav-dropdown-menu .nav-dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
nav .nav-dropdown .nav-dropdown-menu .nav-dropdown-links a:hover {
  background: black;
  color: #ff9ff6;
}
nav .nav-dropdown .nav-information-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
}
nav .nav-dropdown .nav-information-grid a {
  text-decoration: none;
}
nav .nav-dropdown .nav-information-grid a:hover {
  color: #ff9ff6;
  background-color: black;
}
nav .nav-dropdown.active > .nav-link + .nav-dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
nav .login-section {
  display: flex;
  font-size: medium;
  align-items: center;
  gap: 2rem;
  position: absolute;
  right: 10%;
}
nav .login-section a {
  color: #ff9ff6;
}
nav .login-section a:hover {
  background-color: #777;
}

.main-section h1 {
  margin: 1rem;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  margin: 1.563rem 0;
  font-size: 0.9rem;
  min-width: 25rem;
  width: 100%;
  border-radius: 0.313rem 0.313rem 0 0;
  overflow: hidden;
  box-shadow: 0 0 1.25rem rgba(107, 106, 106, 0.15);
}
table thead tr {
  background-color: #000;
  color: #ff9ff6;
  text-align: left;
  font-weight: bold;
}
table th,
table td {
  padding: 0.75rem 0.938rem;
}
table tbody tr {
  border-bottom: 0.063rem solid #ff9ff6;
}
table tbody tr:nth-of-type(even) {
  background-color: #000;
  color: #b5ac31;
}
table tbody tr:nth-of-type(odd) {
  color: #f7b0f1;
}
table tbody tr:last-of-type {
  border-bottom: 0.125rem solid #ff9ff6;
}
table tbody tr.active-row {
  font-weight: bold;
  color: #ff9ff6;
}
table a {
  color: whitesmoke;
  padding: 0.4rem;
  text-decoration: underline dotted;
}
table a:hover {
  background-color: whitesmoke;
  color: #000;
}
table img {
  width: 15rem;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #855480 !important;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  min-width: 100%;
  margin-top: 2rem;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  display: flex;
  position: relative;
  font-size: 0.5rem;
  width: 50%;
  height: 15rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 159, 246, 0.3), transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40%);
  z-index: 1;
}

.card > .card-content {
  background-color: rgb(23, 23, 23);
  border-radius: inherit;
  display: flex;
  flex-grow: 1;
  inset: 1px;
  padding: 1rem;
  position: absolute;
  z-index: 2;
  color: #676363;
}

h1,
h2,
h3,
h4,
span {
  color: whitesmoke;
  font-weight: 400;
  margin: 0px;
}

i {
  color: rgb(240, 240, 240);
}

.card-image {
  display: flex;
  overflow: hidden;
}
.card-image img {
  font-size: 6rem;
  opacity: 0.6;
  width: 25rem;
  object-fit: contain;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}

.card-info > i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
  color: #d4ad00;
}

.card-info-title > h4 {
  color: rgba(5, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
  background-color: blue;
}

.text-info {
  color: #ff9ff6;
  font-size: 0.8rem;
  float: right;
}

.description, .description p {
  color: #ff6a00;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}

.the-title {
  font-size: 1.2rem;
}

footer {
  background-color: black;
  margin-top: auto;
  color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.54rem;
}
footer .social-media {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
footer .social-media a {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}
footer .social-media a .fa-facebook {
  color: #1092f4;
}
footer .social-media a .fa-twitter {
  color: #1d9bf0;
}
footer .social-media a .fa-google {
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(to right, #4285f4, #db4437, #f4b400, #0f9d58);
  -webkit-background-clip: text;
}
footer .social-media a .fa-instagram {
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(#405de6, #5b51d8, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
  -webkit-background-clip: text;
}
footer .social-media a .fa-linkedin {
  color: #0a66c2;
}
footer .social-media a .fa-tiktok {
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(to right, #010101, #69c9d0, #fff, #ee1d52);
  -webkit-background-clip: text;
}
footer .social-media a .fa-tiktok:hover {
  background-color: wheat !important;
  color: black;
}
footer .social-media a :is(.fa-facebook, .fa-twitter, .fa-google, .fa-instagram, .fa-linkedin, .fa-tiktok):hover {
  -webkit-text-fill-color: wheat;
}
footer .footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: medium;
}
footer .footer-links ul li {
  margin: 0.25rem;
}
footer .footer-links a {
  padding: 0.25rem;
  height: 1rem;
  font-size: large;
  color: goldenrod;
}
footer .footer-links a:hover {
  background-color: rgb(23, 23, 23);
  color: #ff9ff6;
}
footer .footer-links h3 {
  text-decoration: underline;
}
footer .footer-links .payment {
  font-size: medium;
}
footer .footer-copyright-section {
  background-color: #000;
  color: whitesmoke;
  text-align: center;
  padding: 0.75rem;
  font-size: 1rem;
}
