<div  >
    <div class="category-list">
        <div  >
            <h2 >Product List</h2>
        </div>
        <div >
            <a asp-controller="Product" asp-action="Upsert" ><i ></i>&nbsp; Create New Product</a>
        </div>
    </div>


    <table id="tblData">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>    
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}
