@model ProductVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input hidden asp-for="Product.Id" />
    <input hidden asp-for="Product.ImgURL" />
    <div>
        <div>
            <div>
                <div>
                    <h2>@(Model.Product.Id != Guid.Empty ? "Update" : "Create") Product</h2>
                </div>

                <div>
                    <label asp-for="Product.Title"></label>
                    <input asp-for="Product.Title" />
                    <span asp-validation-for="Product.Title"></span>
                </div>
                <div>
                    <label asp-for="Product.Description"></label>
                    <textarea asp-for="Product.Description"></textarea>
                    <span asp-validation-for="Product.Description"></span>
                </div>
                <div>
                    <label asp-for="Product.Author"></label>
                    <input asp-for="Product.Author" />
                    <span asp-validation-for="Product.Author"></span>
                </div>
                <div>
                    <label asp-for="Product.Price"></label>
                    <input asp-for="Product.Price" />
                    <span asp-validation-for="Product.Price"></span>
                </div>

                <div>
                    <label asp-for="Product.ImgURL"></label>
                    <input type="file" id="uploadBox" name="file" />
                </div>
                <div>
                    <label asp-for="Product.CategoryId"></label>
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList">
                        <option disabled selected>--Select Category</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId"></span>
                </div>
                <div >
                    @if (Model.Product.Id != Guid.Empty)
                    {
                        <button type="submit" style="width: 150px;">Update</button>
                    }
                    else
                    {
                        <button onclick="return ValidateInput()" type="submit">Create</button>
                    }
                    <a asp-controller="Product" asp-action="Index">Back</a>
                </div>
            </div>

        </div>

    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}