@model ProductVM

@if (Model != null)
{
    if (Model is not null)
    {
        <h1>@Model.Product.Title</h1>
        <form asp-controller="Menu" asp-action="Upsert" method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Product.Id" value="@Model.Product.Id" />
            <input asp-for="InputDate" />
            <input type="submit" value="Create Menu" />
        </form>
    }
}
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}